* {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vmin;
}

.array-bar {
  background-color: brown;
  border-radius: 3px;
  width: 10px;
  margin: 2px;
}

.app-button {
  border: none;
  background-color: transparent;
}

.app-button:hover {
  color: rgb(40, 98, 165);
}
